.header{
    background-color: black;
    height: 100px;
    width: 100%;
}

.header-heading{
    color: white;
    margin-left: 40%;
    position: relative;
    display: inline-block;
    padding-top: 46px;
}

.header-button{
    display: inline-block;
    margin-left: 400px;
    margin-top: 18px;
    color: white;
}
.header-button:hover{
    color: black;
    background-color: white;
    border-radius: 8px;
}