.NotBackendBeforeBlogCard {
  background-color: #ffffff;
  height: 200px;
  width: 1600px;
  border-radius: 8px;
  box-shadow: 0 1px 3px #030303;
  float: left;
  margin: 15px;
}
.notBackendBeforeButton {
  text-align: center;
}
.NotBackendBeforeBlogCard-para {
  font-weight: 400;
  font-size: 24px;
  margin-right: 16px;
  margin-left: 16px;
}

.NotBackendBeforeBlogCard-link {
  margin-left: 50%;
}

@media screen and (max-width: 425px) {
  .NotBackendBeforeBlogCard {
    width: 100%;
    margin: 15px 0;
    max-width: 425px;
  }

  .NotBackendBeforeBlogCard-para {
    font-size: 18px;
  }

  .NotBackendBeforeBlogCard-link {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notBackendBeforeButton {
    text-align: center;
  }
}
