.footer {
  background-color: black;
  color: white;
  height: 180px;
}

button {
  margin-top: 20px;
  margin-left: 42%;
}
.footerButton{
       color: "black";
       background-color: "white";
       margin-top: "100px";
       margin-left: "34%";
}

@media screen and (max-width: 425px) {
    .footer {
      height: auto;
      padding: 20px;
      text-align: center;
    }
    button {
      margin: 10px auto;
      font-size: 14px;
    }
  }
  
